body {
    background-color: violet;
    color:darkblue;
    
    text-align: center;
    font-family: "Comic Relief", sans-serif;

}

a:hover {
    color: yellowgreen;
    background-color: yellow;
}