body {
    background-color: violet;
    color:darkblue;
    
    text-align: center;
    font-family: "Comic Relief", sans-serif;

}

a:hover {
    color: darkgreen;
    background-color: yellow;
}

img {
    max-width: 350px;
    max-height: 350px;
}